
#form{
  width: 300px;
  height: auto;
  margin:20vh auto 0 auto;
  padding: 10vh 2vh;
  background-color:whitesmoke;
  border-radius: 20px;
  font-size: 12px;
}
#form h1{
  color: black;
  text-align: center;
  font-style: italic;
 font-size: 40px;
}
#form button{
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  color: white;
  background-color: blue;
  border: none;
  border-radius: 4px;
}
.input-control{
  display: flex;
  flex-direction: column;
}
.input-control input{
  border: 2px solid grey;
  border-radius: 4px;
  display: block;
  font-size: 12px;
  padding: 12px;
  width: 90%;
}
.input-control input:focus {
  outline:0;

}
.input-control.error input {
  border-color: red;
}

.input-control.success input {
  border-color: green;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 4px;
}

